body {
	background: rgb(221, 219, 247);
}

.Menu {
	text-align: center;
}

.Menu h1 {
	font-size: 60px;
	text-align: center;
	text-decoration: underline;
}

.Menu h2 {
	font-size: 40px;
	text-align: center;
}

.Menu li {
	display: inline;
	padding: 10px;
	border: solid 3px;
	border-radius: 15px;
}

.Person{
	margin-left: auto;
	margin-right: auto;
	border: solid 10px;
	border-radius: 30px;
	padding: 10px;
	width: 30%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.Name {
	padding: 10px;
	text-align: center;
	font-size: 40px;

}

.Person h4 {
	font-size: 22px;

}

.Person img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.Order-Instructions, .Requirements {
	margin: 15px;

}

.Order-Instructions h2 {
	font-size: 30px;

}

.Order-Instructions h3 {
	font-size: 20px;

}

.Order-Instructions li {
	font-size: 25px;
	margin: 10px;
	width: 850px;
	text-decoration: underline; 

}

.Game {
	float: left;
	margin: 50px;
	border: solid 10px;
	border-radius: 25px;
	padding: 25px;
	width: 700px;
}
